.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 555;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.header .navbar {
	padding: 18px 5px 10px 5px;
	background: #fff;
}
.header .navbar li a {
	font-size: 14px;
	font-weight: 600;
	color: rgba(59,59,60,0.9) !important;
	cursor: pointer;
}
.header .navbar li {
	padding-right: 14px;
	font-size: 14px;
	line-height: 3em;
}
.header .navbar li:last-child {
	margin-top: 5px;
}
.header .navbar li:last-child a{
	color: #ffffff!important;
	background-color: #97C355;
	font-weight: 600;
	text-align: center;
	min-height: 45px;
	padding: 0.4em 1em!important;
	border-radius: 20px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	min-width: 198px;
	line-height: 1em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar li:last-child a i {
	margin: 10px;
	font-weight: 300;
}
.header .navbar li:last-child a:hover {
	background-color: #7EAA3C;
}
.header .navbar-light .navbar-toggler {
	border: 0;
}
.header .navbar-toggler {
	z-index: 5555;
}

@media only screen and (max-width: 1024px) {
	.header .navbar li {
		line-height: 1em;
	}
}
@media only screen and (max-width: 769px){
	.header .navbar {
		padding: 5px;
		min-height: 88px;
	}
	.header #logo{
	  max-width: 60%;
	}
	.header .navbar .container-fluid {
		width: 80%;
	}
	.header #navbarSupportedContent {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		background-color: rgba(10,10,10,0.9)!important;
		overflow: auto;
		padding: 15% 0;
	}
	.header .navbar li {
		padding-right: 0;
	}
	.header .navbar li a {
		text-align: center;
    color: #ffffff!important;
    font-size: 25px;
    border: 0;
    padding: 5% 0;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
	}
	.header .navbar li:last-child a {
	  border: solid 2px;
	  border-color: #ffffff;
	  font-size: 16px;
	  border-radius: 20px;
	  color: #ffffff;
	  max-width: 300px;
	  margin: 0 auto;
	  padding: 5px 15px;
	  background-color: transparent;
	  margin-bottom: 5%;
	}
	.header .navbar-toggler span {
		background-image: none;
	}
	.header .navbar-toggler:focus {
		outline: none;
	}
	.header .navbar-toggler span:after {
		content: "\4d";
		font-family: 'ElegantIcons';
		font-size: 40px;
		color: #fff;
		display: inline-block;
	}
	.header .collapsed span:after{
		content: "\61";
		font-family: 'ElegantIcons';
		font-size: 40px;
		color: #03aac4;
		display: inline-block;
	}
}
