
.benefits-investor .container-inner-padd:first-child{
	margin-bottom: 20px;
}
.benefits-block-container{
	width: 66.8%;
}
.benefits-block{
	border: 1px solid #e6e9ea;
	border-radius: 8px;
	padding: 20px;
}
.benefits-block .benefits-detail{
	padding: 20px
}
.benefits-block .benefits-detail a,
.benefits-block .benefits-detail a:hover{
	color: #03aac4 !important;
	cursor: pointer;
}
.benefits-block .benefits-detail-head{
	margin-bottom: 28px;
}
.benefits-block h4{
	margin-left: 6px;
}
.benefits-block .benefits-detail-img img{
	width: 32px;
	height: 32px;
}
.benefits-list{
	margin: 50px 0px 28px 5px;
}
.benefits-list li{
	line-height: 22px;
	color: rgba(59,59,60,0.8);
	display: block;
	background: url('./circle-bullet.png') no-repeat 0px 2px;
	list-style: none;
	margin-bottom: 30px;
	padding-left: 30px;
}



@media(min-width: 992px){

	.benefits-block .benefits-detail-container{
		width: 86%;
	}
	.benefits-block .row .col:first-child:after{
		content: '';
		background: url(./vertical-dotted-line.png) no-repeat;
		width: 2px;
		height: 100%;
		display: inline-block;
		position: absolute;
		top: 75px;
		right: 0;
	}
}								